.panel-content{
    padding-right:15px;
    padding-left:15px;
    padding-bottom: 15px;
    margin-right:auto;
    margin-left:auto
}

#sortable {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sortable li {
    float: left;
    padding: 2px;
    margin: 3px;
    cursor: move;
}

.form-control{
    height: auto;
}

.bg-gray{
    color: #fff;
}

.widget{
    display: block;
    padding: 0 30px;
    height: 44px;
    line-height: 44px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
    margin-bottom: 10px;
    background-color:#00acd6;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px
}
.room-type {
    text-align: right;
    font-size: 20px;
    line-height: 30px;
}
.room-type-icon {
    font-size: 20px;
    line-height: 30px;
}
.background {
    background-color: #fff;
    margin: 50px 20px;
    width: 100%;
    padding: 50px 100px;
    height: auto;
    position: absolute;
}
.calandar {
    background-color: #fff;
    margin: 30px 0px;
    padding: 5px 0px 30px 0px;
    width: 95%;

}
.datatable1 {
    background-color: #fff;
    margin: 30px 0px;
    padding: 20px;
    width: 95%;

}
#DataTables_Table_0_filter {
    float: right;
}
.filter {
    background-color: #fff;
    margin: 15px 30px 0px;
    padding: 20px;
    width: 95%;
}
input[type="number"] {
    -moz-appearance: textfield;
}
#find {
    margin-right: 31px;
    padding: 5px 30px;
}